body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1, h2 {
    color: darkblue;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}
